<div class="title vertical-center">
    <h1 id="heading">{{plant.LatinName}}</h1>
    <p class="sub-heading">
        {{plant.BulgarianName}}
    </p>
</div>

<div class="row col-sm-12">
    <img src="/img/{{plant.URL}}" class="rounded col-sm-12 col-md-6" alt="Изображението">
    <div class="plant-info col-sm-12 col-md-6">
        <div class="fw-bold fst-italic">
            Морфология:
            <p class="fst-normal fw-normal" fw-normal>{{plant.morphology}}</p>
        </div>
        <div class="fw-bold fst-italic">
            Популации:
            <p class="fst-normal fw-normal">{{plant.population}}</p>
        </div>
        <div class="fw-bold fst-italic">
            Разпостранение в България:
            <p class="fst-normal fw-normal">{{plant.bg_spread}}</p>
        </div>
        <div class="fw-bold fst-italic">
            Разпостранение по света:
            <p class="fst-normal fw-normal">{{plant.spread}}</p>
        </div>
        <div class="fw-bold fst-italic">
            Предприети мерки за защита:
            <p class="fst-normal fw-normal">{{plant.active_defence}}</p>
        </div>
        <div class="fw-bold fst-italic">
            Необходими мерки за защита:
            <p class="fst-normal fw-normal">{{plant.needed_defence}}</p>
        </div>
        <div class="fw-bold fst-italic">
            Отрицателно действащи фактори
            <p class="fst-normal fw-normal">{{plant.negative_factor}}</p>
        </div>
        <div class="fw-bold fst-italic">
            Литература:
            <p class="fst-normal fw-normal">{{plant.literature}}</p>
        </div>
        <div class="fw-bold fst-italic">
            Автори:
            <p class="fst-normal fw-normal">{{plant.author}}</p>
        </div>

    </div>
</div>
